<%= render('layouts/errors', :object => @artist) %>

<%= form_for [@genre, @artist] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :review %>
<%= f.text_area :review %>
<p><%= f.submit %></p>

<% end %>
