<h1><%=  @artist.name %></h1>
<hr>
<% if @artist.reviews.any? %>
<h3>Here are the reviews for this artist:</h3>
<ul>
  <% @artist.reviews.each do |review| %>
  <br><li><b>User Review: </b><i><%= review.critique %></i></li>
  <li><b>User Rating: </b><i><%= review.rating %> Stars</i></li>
    <% end %>

  </ul>
  <% else %>
  <p> There are no reviews yet!</p>
  <% end %>


<br>
<%= link_to "Add a Review", new_artist_review_path(@artist) %>
<hr>
<p><%= link_to "Return to Artists", genre_path(@genre) %><p>
